.PreFooter {
  color: var(--black);
  background-color: var(--white);
  height: calc(50 * var(--svh));
  padding-bottom: 8px;

  @media (--lg) {
    padding-bottom: 16px;
  }

  .content {
    display: grid;
    place-content: center;
    gap: 1.5rem;
    height: 100%;

    h2 {
      font-family: "FKScreamer";
      text-transform: uppercase;
      font-weight: 700;
      font-size: clamp(4.3rem, calc(4.17rem + 0.67vw), 4.84rem);
    }

    ul {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;

      a {
        font-size: 1rem;
        color: var(--black);
        position: relative;
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: currentColor;
          visibility: hidden;
          transform: scaleX(0);
          transform-origin: left;
          transition: all 0.7s var(--easeInOutExpo);
        }

        &:hover::before,
        &.active::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
}

.dark-mode {
  color: var(--white);
  background-color: var(--black);

  ul {
    a {
      color: var(--white) !important;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: currentColor;
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.7s var(--easeInOutExpo);
      }

      &:hover::before,
      &.active::before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}
