.PreFooter {
  color: var(--black);
  background-color: var(--white);
  height: calc(50 * var(--svh));
  padding-bottom: 8px;

  @media (--lg) {
    padding-bottom: 16px;
  }

  .content {
    display: grid;
    place-content: center;
    gap: 1.5rem;
    height: 100%;

    h2 {
      font-family: "FKScreamer";
      text-transform: uppercase;
      font-weight: 700;
      font-size: clamp(4.3rem, calc(4.17rem + 0.67vw), 4.84rem);
    }

    ul {
      display: flex;
      justify-content: space-between;

      a {
        font-size: 1rem;
        color: var(--black);
      }
    }
  }
}

.dark-mode {
  color: var(--white);
  background-color: var(--black);

  ul {
    a {
      color: var(--white) !important;
    }
  }
}
