.projects {
  background-color: var(--white);
  position: relative;
  padding: 8px 16px;

  @media (--lg) {
    padding-inline: 16px;
  }

  .projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-family: "FKScreamer";
      text-transform: uppercase;
      font-weight: 700;
      font-size: clamp(4.3rem, calc(4.17rem + 0.67vw), 4.84rem);
      color: var(--black);
    }

    .projects-link {
      color: var(--black);

      @hover {
        color: var(--white);
      }
    }
  }

  .projects-container {
    display: grid;
    gap: 8px;

    @media (--lg) {
      gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      height: calc(60 * var(--svh));
      object-fit: cover;
      width: 100%;
      mask: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 5%, white 30%);
    }
  }

  .item {
    position: relative;

    p {
      font-size: 1rem;

      &:first-child {
        font-weight: 600;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
      }
    }

    .content {
      position: absolute;
      bottom: 24px;
      left: 12px;
      max-width: 40rem;
      color: var(-white);

      @media (--lg) {
        left: 16px;
      }
    }
  }
}

.projects .item:nth-child(1),
.projects .item:nth-child(2) {
  @media (--lg) {
    grid-column: span 1;
  }
}

.projects .item:nth-child(3) {
  @media (--lg) {
    grid-column: span 2;
  }
}
