.about {
  background-color: var(--white);
  color: var(--black);
  display: grid;
  grid-template-columns: 1fr;

  @media (--md) {
    grid-template-columns: 1fr 1fr;
  }

  .sticky {
    height: calc(60 * var(--svh));

    @media (--md) {
      position: sticky;
      top: 0px;
      height: calc(100 * var(--svh));
    }

    .about-image {
      display: block;
      width: 100%;
      height: 100%;
      transition: opacity 0.2s ease-in-out 0s;
      object-fit: cover;
    }
  }

  .content {
    padding: 1rem;

    @media (--md) {
      padding: 3rem;
    }
    h2 {
      font-family: "FKScreamer";
      text-transform: uppercase;
      font-weight: 700;
      font-size: clamp(3rem, calc(4.17rem + 0.67vw), 3rem);
      color: var(--black);
      margin-bottom: 1rem;

      @media (--md) {
        font-size: clamp(4.3rem, calc(4.17rem + 0.67vw), 4.84rem);
      }
    }

    p {
      font-size: 1rem;
      display: grid;
      gap: 2rem;

      @media (--md) {
        font-size: 1.2rem;
      }
    }
  }
}
