:root {
  --black: #111111;
  --dark: #1b1d1c;
  --white: #ffff;
  --light-yellow: #fffed5;
  --yellow: #fee402;
  --dark-yellow: #fdca00;

  --header-height: 64px;
  --svh: 1svh;
  --dvh: 1vh;
  --lvh: 1lvh;

  --100svh: calc(100 * var(--svh));
  --maxWidth: 1800px;

  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --easeInOutExpo: cubic-bezier(0.87, 0, 0.13, 1);
  --easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
  --easeInOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
  --easeInQuint: cubic-bezier(0.64, 0, 0.78, 0);
  --easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
  --easeInOutQuint: cubic-bezier(0.83, 0, 0.17, 1);
  --easeInQuad: cubic-bezier(0.11, 0, 0.5, 0);
  --easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
  --easeInOutQuad: cubic-bezier(0.45, 0, 0.55, 1);

  --grid-gap: 0 16px;
  --marginBlock: 48px;

  @media (--md) {
    --header-height: 104px;
  }
}
