*,
html {
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark);
    color: var(--color-white);
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(-225deg,
            var(--color-dark) 0%,
            var(--color-purple) 29%,
            var(--color-pink) 67%,
            var(--color-yellow) 100%);
    border-radius: 1rem;
}