*,
html {
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark);
    color: var(--color-white);
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}