.hero {
  position: sticky;
  top: 0;
  z-index: -1;
  font-family: "FKScreamer";
  height: calc(100 * var(--svh));
  width: 100%;

  display: grid;
  place-content: center;

  text-align: center;
  text-transform: uppercase;

  p {
    -webkit-text-stroke: 1px var(--white);
    color: transparent;
    font-weight: 700;
    font-size: min(2.2em, 25vw);

    @media (--md) {
      font-size: min(3rem, 25vw);
    }

    @media (--lg) {
      font-size: min(4.5rem, 25vw);
    }
  }

  h1 {
    font-size: min(6rem, 25vw);

    @media (--md) {
      font-size: min(8rem, 25vw);
    }

    @media (--lg) {
      font-size: min(12rem, 25vw);
    }
  }
}
