.Loader {
  position: fixed;
  background-color: var(--green);
  color: var(--white);
  height: calc(100 * var(--svh));
  width: 100%;
  z-index: 101;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    font-family: "FKScreamer";
    font-size: 2.5rem;

    @media (--lg) {
      font-size: 3rem;
    }
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  max-width: 95%;
  margin-inline: auto;
  gap: 0.5rem;
}

.percentage {
  font-family: "FKScreamer";
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.progress-bar {
  background-color: var(--white);
  height: 4px;
  margin-bottom: 2rem;
  width: 100%;
  transform-origin: left;
}

.progress {
  background-color: var(--white);
  height: 100%;
}
