.text-hightlight-container {
  background-color: var(--white);

  display: flex;
  align-items: center;

  height: calc(80 * var(--svh));

  @media (--lg) {
    height: calc(100 * var(--svh));
  }

  .paragraph {
    font-size: 2rem;
    color: var(--black);
    max-width: 70rem;
    text-align: center;

    @media (--lg) {
      font-size: 4rem;
    }
  }
}
