:root {
    --dark-grey: #363636;
	--raisin-black: #272727;
    --white: #ffffff;
    --ash: #f9f9f9;
}

*,
html {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica', sans-serif;
	background-color: var(--ash);
	color: var(--color-white);
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--black);
}