@font-face {
	font-family: 'Migra';
	src: url('/fonts/Migra/Migra-Extralight.woff2') format('woff2'),
		url('/fonts/Migra/Migra-Extralight.woff') format('woff'),
		url('/fonts/Migra/Migra-Extralight.ttf') format('ttf');
	font-weight: 300;
	font-display: fallback;
}

@font-face {
	font-family: 'Migra';
	src: url('/fonts/Migra/Migra-Extrabold.woff2') format('woff2'),
		url('/fonts/Migra/Migra-Extrabold.woff') format('woff'),
		url('/fonts/Migra/Migra-Extrabold.ttf') format('ttf');
	font-weight: 700;
	font-display: fallback;
}

@font-face {
	font-family: 'Helvetica';
	src: url('/fonts/Helvetica/Helvetica-Light-Condensed-Oblique.otf') format('otf');
	font-weight: 300;
	font-display: fallback;
}
