.footer {
  background-color: var(--dark);
  .title {
    font-family: "FKScreamer";
    text-transform: uppercase;
    font-weight: 700;
    font-size: clamp(4.3rem, calc(4.17rem + 0.67vw), 4.84rem);
    margin-bottom: 10rem;
  }

  .list-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .container {
    .main-content {
      display: flex;
      justify-content: space-between;

      flex-direction: column-reverse;
      gap: 1.5rem;
      @media (--md) {
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.5rem;
      }
    }
  }

  .social-list {
    display: flex;
    gap: 0.5rem;
  }

  .contact-list {
    display: grid;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    @media (--md) {
      margin-bottom: 0;
    }
  }

  .outer-content {
    margin-top: 1.5rem;
    display: grid;
    gap: 0.5rem;

    p {
      font-size: 0.8rem;

      @media (--md) {
        font-size: 1rem;
      }
    }
    @media (--md) {
      display: flex;
      justify-content: space-between;
    }
  }
}
