:root {
  --dark-purple: #383343;
  --purple: #7353ba;
  --light-purple: #956eec;
  --color-black: #161618;
  --color-white: #ffffff;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: var(--dark-purple);
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-purple);
}

*,
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.cta-purple {
  all: unset;

  background-color: var(--purple);
  color: var(--color-white);
  border-radius: 1.2em;

  border: 3px solid transparent;

  transition: 0.3s ease;
  cursor: pointer;
}

.cta-purple:hover {
  background: transparent;
  border: 3px solid var(--purple);
}

.cta-white {
  all: unset;

  color: var(--purple);
  background-color: var(--color-white);
  border-radius: 1.2em;

  border: 3px solid transparent;

  transition: 0.3s ease;
  cursor: pointer;
}

.cta-white:hover {
  background: transparent;
  border: 3px solid var(--color-white);
  color: var(--color-white);
}

.cta-purple:focus {
  border: 2px solid var(--color-white);
}

.cta-white:focus {
  border: 2px solid var(--purple);
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--purple);
  transition: width .7s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
