:root {
  --dark-purple: #383343;
  --purple: #7353ba;
  --light-purple: #956eec;
  --color-black: #161618;
  --color-white: #ffffff;
}

*,
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-track {
  background: var(--dark-purple);
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-purple);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.cta-purple {
  all: unset;

  background-color: var(--purple);
  color: var(--color-white);
  border-radius: 1.2em;

  transition: 0.3s ease;
  cursor: pointer;
}

.cta-white {
  all: unset;

  color: var(--purple);
  background-color: var(--color-white);
  border-radius: 1.2em;

  transition: 0.3s ease;
  cursor: pointer;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
